*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #005393;
}

.container {
    width: 500px;
    background: #005393;
    border-radius: 7px;
}

.form {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.input {
    background-color: rgb(121, 197, 235);
    font-size: 30px;
    font-weight: 800;
    text-align: center;
    padding: 16px 15px;
    border-radius: 7px;
    border: 3px solid black;
    margin-bottom: 15px;
    cursor: pointer;
}

.result {
    font-size: 18px;
    font-weight:bold;
    padding: 15px 15px;
    margin: 15px 15px;
    background-color: rgb(121, 197, 235);
    border-radius: 7px;
    border: 3px solid black;
    text-align: left;
    transition: 0.5s ease;
}

.p-result {
    padding: 10px 0px 10px 0px;
}

.confirm-button {
    margin: 10px;
    cursor: pointer;
    background-color: rgb(121, 197, 235);
    font-size: 30px;
    border: 3px solid black;
    border-radius: 7px;
    cursor: pointer;
}

